trigger:
  - main

pr:
  - main

name: '$(Date:yyyy).$(Date:M).$(Date:d)-$(Rev:r)'

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  solution: 'QuickApiMapper.sln'
  webProject: 'QuickApiMapper.Web/QuickApiMapper.Web.csproj'
  publishDir: '$(Build.ArtifactStagingDirectory)/web'

jobs:
  - job: build_test_publish
    displayName: Build, Test, and Publish Web App
    steps:
      - task: UseDotNet@2
        displayName: 'Install .NET SDK 9.x'
        inputs:
          packageType: 'sdk'
          version: '9.0.x'

      - task: DotNetCoreCLI@2
        displayName: Restore (solution)
        inputs:
          command: 'restore'
          projects: '$(solution)'

      - task: DotNetCoreCLI@2
        displayName: Build (solution)
        inputs:
          command: 'build'
          projects: '$(solution)'
          arguments: '--configuration $(buildConfiguration) --no-restore'

#      - task: DotNetCoreCLI@2
#        displayName: Test (unit tests)
#        inputs:
#          command: 'test'
#          projects: 'QuickApiMapper.UnitTests/QuickApiMapper.UnitTests.csproj'
#          arguments: '--configuration $(buildConfiguration) --no-build --logger trx --results-directory $(Agent.TempDirectory)/TestResults'
#
#      - task: PublishTestResults@2
#        displayName: Publish test results
#        condition: succeededOrFailed()
#        inputs:
#          testResultsFormat: 'VSTest'
#          testResultsFiles: '$(Agent.TempDirectory)/TestResults/*.trx'
#          searchFolder: '$(Agent.TempDirectory)/TestResults'
#          mergeTestResults: true

      - task: DotNetCoreCLI@2
        displayName: Publish Web (framework-dependent)
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(webProject)'
          arguments: >-
            --configuration $(buildConfiguration)
            --no-build
            --output $(publishDir)
            -p:UseAppHost=false
          zipAfterPublish: false

      - task: CopyFiles@2
        displayName: 'Copy plugin transformers to publish output'
        inputs:
          contents: |
            QuickApiMapper.CustomTransformers/bin/$(buildConfiguration)/net9.0/QuickApiMapper.CustomTransformers.dll
            QuickApiMapper.StandardTransformers/bin/$(buildConfiguration)/net9.0/QuickApiMapper.StandardTransformers.dll
          targetFolder: '$(publishDir)/Transformers'
          overWrite: true

      - task: ArchiveFiles@2
        displayName: Create deployable zip
        inputs:
          rootFolderOrFile: '$(publishDir)'
          includeRootFolder: false
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/QuickApiMapper.Web.zip'
          replaceExistingArchive: true

      - task: PublishBuildArtifacts@1
        displayName: Publish artifact (web)
        inputs:
          pathtoPublish: '$(Build.ArtifactStagingDirectory)/QuickApiMapper.Web.zip'
          artifactName: 'web-drop'
          publishLocation: 'Container'
